# --- Python core libs ---
gdown==5.2.0
pandas==2.2.2
pyarrow==17.0.0
fastparquet==2024.5.0
python-dotenv==1.0.1
SQLAlchemy==1.4.52
psycopg2-binary==2.9.9

# --- dbt (compatible with Airflow) ---
dbt-core==1.5.9
dbt-postgres==1.5.9

# --- Airflow ---
apache-airflow==2.9.0
pendulum==3.0.0